
/* General */

body {
    background-image: url('../images/bg.png');
    background-color: rgb(5, 5, 5);
    margin: 0;
    padding: 0;
    min-width: 960px;
}

#container {
    background: url('../images/screenshots-bg.jpg') center top repeat-x transparent;
}

.content {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

/* Screenshots */

.screenshots {
    text-align: center;
    padding-top: 160px;
}

.screenshots h2 {
    background-repeat: no-repeat;
    width: 199px;
    height: 55px;
    overflow: hidden;
    text-indent: -100%;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

.screenshots h2.soda-light {
    background-image: url('../images/soda-light-heading.png');
}

.screenshots h2.soda-dark {
    background-image: url('../images/soda-dark-heading.png');
    margin-top: -30px;
}

/* Bubbles */

.bubble {
    position: absolute;
    background-repeat: no-repeat;
}

.bubble.b1 {
    background-image: url('../images/bubble-light-lg.png');
    width: 350px;
    height: 372px;
    top: -40px;
    left: -20px;
}

.bubble.b2 {
    background-image: url('../images/bubble-light-sm.png');
    width: 243px;
    height: 258px;
    top: 375px;
    right: 0;
}

.bubble.b3 {
    background-image: url('../images/bubble-dark-lg.png');
    width: 381px;
    height: 379px;
    top: 1195px;
    right: 60px;
}

/* Information */

.info {
    background-color: #fff;
    background-image: url('../images/info-bg.png');
    margin-top: 35px;
    padding: 2em;
}
