
/* General */

body {
    background: url('../images/bg.png') repeat top left #fff;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #444;
    min-width: 320px;
}

#container {
    overflow: hidden;
}

.content {
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    max-width: 900px;
}

h1, h2, h3, h4, h5, h6 {
    color: #24343f;
    font-weight: 600;
    margin: 0;
}

h1, h2 {
    font-size: 52px;
    text-align: center;
    margin: 0.5em 0 0.7em 0;
    line-height: 0.8em;
}

h1 {
    letter-spacing: -2px;
}

h2 {
    letter-spacing: -1px;
}

h3 {
    font-size: 24px;
    margin: 1.8em 0 0.6em 0;
}

ul {
    list-style-position: outside;
    list-style-type: disc;
    margin: 0 0 0 1.1em;
    padding: 0;
}

li {
    margin: 0 0 1em 0;
}

hr {
    height: 1px;
    margin: 50px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image: linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    border: 0;
}

img {
    width: auto;
    max-width: 100%;
}

/* Header */

#header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

#header .content {
    max-width: 750px;
    padding: 0 5%;
}

#header h1,
#header p {
    margin-top: 18px;
    background: url('../images/title-bar-text.png') no-repeat transparent top left;
    height: 21px;
    display: inline-block;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

#header h1 {
    width: 105px;
}

#header p.blurb {
    width: 380px;
    background-position: -113px 0;
}

@media only screen and (max-width: 720px) {
    #header p.blurb {
        display: none;
    }
}

#header p.credits {
    float: right;
    width: 140px;
    background-position: -613px 0;
}

#header p.credits a {
    width: 140px;
    height: 21px;
    display: block;
}

/* Screenshots */

.screenshots {
    text-align: center;
    background: url('../images/screenshots-bg.jpg') center top repeat-x transparent;
}

.screenshots .content {
    padding: 110px 0 0 0;
}

.screenshots img {
    margin: -1% 0 -2.5% 0;
}

.screenshots h2 {
    background-repeat: no-repeat;
    width: 199px;
    height: 55px;
    margin: 0 auto;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.screenshots .soda-light h2 {
    background-image: url('../images/soda-light-heading.png');
}

.screenshots .soda-dark h2 {
    background-image: url('../images/soda-dark-heading.png');
}

/* Bubbles */

.bubble {
    position: absolute;
    background-repeat: no-repeat;
}

.bubble.b1 {
    background-image: url('../images/bubble-lg.png');
    width: 350px;
    height: 372px;
    top: 60px;
    right: 720px;
}

.bubble.b2 {
    background-image: url('../images/bubble-sm.png');
    width: 243px;
    height: 258px;
    top: 480px;
    left: 775px;
}

/* Information */

.info {
    padding: 10px;
}

.info figure {
    background-color: #fff;
    padding: 10px;
    margin: 0 -10px 2em -10px;
    border-radius: 4px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.info figcaption {
    display: none;
}

.info h1 {
    font-size: 62px;
    margin: 0.5em 0 0.2em 0;
}

.info h1 + p {
    margin: 0;
    text-align: center;
    font-size: 28px;
    color: #999;
}

/* Code */

code {
    font-family: 'Source Code Pro', Consolas, 'Andale Mono', Monaco, 'Courier New', Courier, monospace;
    font-weight: 400;
    color: #111;
}

pre {
    background-color: #eee;
    padding: 0 20px;
    margin: 0 -10px 2em -10px;
    border-radius: 4px;
    white-space: pre-wrap;
}

/* Footer */

#footer {
    visibility: hidden;
}